aiohttp==3.7.4.post0; python_version >= "3.6" and python_full_version >= "3.5.3"
async-timeout==3.0.1; python_version >= "3.6" and python_full_version >= "3.5.3"
attrs==21.4.0; python_version >= "3.6" and python_full_version >= "3.5.3"
certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cffi==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
chardet==4.0.0; python_version >= "3.6" and python_full_version >= "3.5.3"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3"
discord-components==2.1.2; python_version >= "3.6"
discord.py==1.7.3; python_full_version >= "3.5.3"
dnspython==2.2.1; python_version >= "3.6" and python_version < "4.0"
idna==3.3; python_full_version >= "3.6.0" and python_version >= "3.6"
multidict==6.0.2; python_version >= "3.7" and python_full_version >= "3.5.3"
mutagen==1.45.1; python_version >= "3.6" and python_version < "4"
psutil==5.8.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pycparser==2.21; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pycryptodomex==3.14.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pymongo==4.0.2; python_version >= "3.6"
pynacl==1.4.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
typing-extensions==4.1.1; python_version >= "3.6" and python_full_version >= "3.5.3"
urllib3==1.26.9; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
websockets==10.2; python_version >= "3.7"
yarl==1.7.2; python_version >= "3.6" and python_full_version >= "3.5.3"
yt-dlp==2021.12.27; python_version >= "3.6"
