.Stats {
    display: flex;
    justify-content: center;
    position: relative;

    width: 175px;
    height: 175px;

    padding: 15px 15px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

    &:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.Label {
    position: absolute;

    width: 40px;
    height: 40px;
    line-height: 40px;

    text-align: center;
    vertical-align: middle;

    font-size: 18px;
    top: 50%;
}

@media(max-width: 500px) {
    .Stats {
        width: 140px;
        height: 140px;
    }

    .Label {
        font-size: 15px;
    }
}