.Sidebar {
    grid-area: sb;

    display: grid;
    grid-template-rows: auto auto 1fr;

    padding: 20px;
    padding-top: 0;
    margin-bottom: 20px;

    width: 175px;

    border-radius: 0px 20px 20px 0px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}

@media (max-width: 550px) {
    .Sidebar {
        width: 70px;
    }
}