.Sidebar {
    grid-area: sb;

    display: grid;
    grid-template-rows: auto auto 1fr;

    padding: 20px;
    padding-top: 0;
    width: 175px;
}

@media (max-width: 550px) {
    .Sidebar {
        width: 70px;
    }
}