.Logo {
    line-height: 50px;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Logo img {
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

.Logo div {
    margin-left: 10px;
    vertical-align: middle;
    text-align: center;
}