{% extends "base.html" %}
{% block head %}
    <title>NOSOK | Control panel</title>
    <script>
        $(() => {
            // on_ready event
        })
    </script>
{% endblock %}

{% block content %}
    <a href="/" class="col-sm">NOSOK</a>
    <div class="containter d-flex flex-column flex-md-row">
        <nav class="nav">
            <a href='vars' class="nav-item col-sm nav-btn">Overview</a>
            <a href='log' class="nav-item col-sm nav-btn">Log</a>
        </nav>
    </div>
{% endblock %}