.NavigationBar {
    padding: 20px;
    min-width: 150px;
    height: calc(100% - 40px);
}

.ButtonBar {
    margin-top: 20px;
    height: 100%;
}

.NavigationBar, .ButtonBar {
    display: flex;
    flex-direction: column;
}