.Header {
    grid-area: hd;
    display: grid;
    grid-template-columns: auto 1fr;
}

.Logo {
    line-height: 50px;
    width: 175px;
    display: flex;
    margin: 0;
    padding: 20px;

    img {
        height: 30px;
        width: 30px;
        border-radius: 30px; 
    }

    span {
        line-height: 30px;
        margin-left: 15px;
        text-align: center;
    }
}

.Topbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    .Logo {
        width: 70px;

        span {
            display: none;
        }
    }
}