.Topbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: right;
}

.Auth {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.LoginButton {
    display: flex;
    background-color: #ffffff;
    text-decoration: none !important;
    color: black !important;
    border: none;
    border-radius: 10px;

    height: 35px;
    padding: 0 7px;
    width: fit-content;
    text-align: center;
    align-items: center;
    justify-content: center;

    img {
        width: 15px;
        height: 15px;
    }

    span {
        margin-left: 5px;
    }

    &:hover {
        background-color: #f2f2f2; 
    }

    &:active {
        background-color: #b3b3b3;
    }
}


@media (max-width: 700px) {
    .LoginButton {
        height: 30px;
        width: 30px;
    }

    .Auth {
        span {
            display: none;
        }
    }
}